### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_num_players = pd.DataFrame({"Total Players" : len(purchase_data["SN"].unique())}, index = [0])
total_num_players.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Unique_Items = len(purchase_data["Item ID"].unique())
Average_Price = purchase_data["Price"].mean()
Number_of_Purchases = purchase_data["Purchase ID"].count()
Total_Revenue = purchase_data["Price"].sum()

summary_df = pd.DataFrame({"Number of Unique Items" : Unique_Items,
                           "Average Price" : Average_Price,
                           "Number of Purchases" : Number_of_Purchases,
                           "Total Revenue": Total_Revenue}, index = [0])
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
purchase_updated = purchase_data.drop_duplicates(['SN'])
gender_df = purchase_updated.groupby(['Gender'])

gender_count = gender_df["Gender"].count()

gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [5]:
total_count = purchase_updated["SN"].count()

age_percentage = gender_count/total_count * 100

age_percentage

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [6]:
gender_demo = pd.DataFrame({"Total Count" : gender_count,
                           "Percentage of Players" : age_percentage})
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].astype(float).map("{:,.2f}%".format)

gender_demo

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
new_purchase = purchase_data.groupby(['Gender'])

purchase_by_gender = new_purchase["Purchase ID"].count()
avg_price_gender = new_purchase["Price"].mean()
total_purchase_gender = new_purchase["Price"].sum()
avg_purchase_pp = total_purchase_gender/gender_count

purch_analysis_gender = pd.DataFrame({"Purchase Count" : purchase_by_gender,
                               "Average Purchase Price" : avg_price_gender,
                               "Total Purchase Value" : total_purchase_gender,
                               "Avg Total Purchase per Person" : avg_purchase_pp})

# Tried to do formatting of three columns in one shot but not successful - Is it possible?

#      Method (1): purch_analysis.style.format({"Average Purchase Price": '{$:.2}', "Total Purchase Value":'{$:.2}', "Avg Total Purchase per Person": '{$:.2}'})

#      Method (2): purch_analysis[("Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person")] = 
#                  purch_analysis[("Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person")]
#                  .astype(float).map("${:,.2f}".format)


    
purch_analysis_gender["Average Purchase Price"] = purch_analysis_gender["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purch_analysis_gender["Total Purchase Value"] = purch_analysis_gender["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purch_analysis_gender["Avg Total Purchase per Person"] = purch_analysis_gender["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

purch_analysis_gender.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
print(purchase_updated["Age"].max())
print(purchase_updated["Age"].min())

45
7

In [9]:
age_bin = [0, 9, 14, 19, 24, 29, 34, 39, 150]
age_labels = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]

pd.cut(purchase_updated["Age"], age_bin, labels = age_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [< 10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [10]:
purchase_updated["Age Group"] = pd.cut(purchase_updated["Age"], age_bin, labels = age_labels)
age_group = purchase_updated.groupby("Age Group").count()
age_count = age_group["Age"]
age_percentage = age_count / total_count * 100

age_demo = pd.DataFrame({"Total Count" : age_count,
                           "Percentage of Players" : age_percentage})
age_demo["Percentage of Players"] = age_demo["Percentage of Players"].astype(float).map("{:,.2f}%".format)

age_demo

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

           Total Count Percentage of Players
Age Group
< 10                17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [11]:
purchase_updated.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bin, labels = age_labels)

purchase_count = purchase_data.groupby("Age Group").count()["Item Name"]
total_purch_age = purchase_data.groupby("Age Group").sum()["Price"]
avg_purch_age = total_purch_age / purchase_count
purchasers_age = purchase_data.groupby("Age Group")["SN"].nunique()
avg_purch_per_person = total_purch_age / purchasers_age

purch_analysis_age = pd.DataFrame({"Purchase Count" : purchase_count,
                                    "Average Purchase Price" : avg_purch_age,
                                    "Total Purchase Value" : total_purch_age,
                                    "Avg Total Purchase per Person" : avg_purch_per_person})

purch_analysis_age["Average Purchase Price"] = purch_analysis_age["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purch_analysis_age["Total Purchase Value"] = purch_analysis_age["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purch_analysis_age["Avg Total Purchase per Person"] = purch_analysis_age["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

purch_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
< 10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
spenders = purchase_data.groupby(['SN']).count()
spenders_sorted = spenders.nlargest(5, ['Purchase ID'])
top_spenders = spenders_sorted["Purchase ID"]
total_spending = purchase_data.groupby(['SN']).sum()[['Price']]
spenders_df = pd.merge(top_spenders, total_spending, on = "SN", how = "inner")
spenders_df = spenders_df.rename(columns = {"Purchase ID" : "Purchase Count"})
spenders_df["Average Purchase Price"] = spenders_df["Price"] / spenders_df["Purchase Count"]

spenders_df["Price"] = spenders_df["Price"].astype(float).map("${:,.2f}".format)
spenders_df["Average Purchase Price"] = spenders_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)

spenders_df

             Purchase Count   Price Average Purchase Price
SN
Lisosia93                 5  $18.96                  $3.79
Idastidru52               4  $15.45                  $3.86
Iral74                    4  $13.62                  $3.40
Aelin32                   3   $8.98                  $2.99
Aina42                    3   $9.22                  $3.07

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
purchase_data_narrowed = purchase_data[['Item ID', 'Item Name', 'Price']].reset_index()

purchase_data_narrowed = purchase_data_narrowed.drop('index' , axis='columns')

purchase_data_narrowed.groupby(['Item ID']).count().reset_index()


''' Below are steps to be utilized for possible Method (3)
      Was having problem sorting Purchase Count in final dataframe.
      Therefore, I separated this column to sort and will merge dataframe instead

IDs = purchase_data_narrowed.groupby(['Item ID']).count()
IDs = IDs.rename(columns = {"Item Name" : "Purchase Count"})
IDs_sorted = IDs.nlargest(10, ['Purchase Count'])
IDs_sorted.sort_values(by = ['Item ID'], ascending = False)
purchase_count = IDs_sorted[["Purchase Count"]]
'''

' Below are steps to be utilized for possible Method (3)\n      Was having problem sorting Purchase Count in final dataframe.\n      Therefore, I separated this column to sort and will merge dataframe instead\n\nIDs = purchase_data_narrowed.groupby([\'Item ID\']).count()\nIDs = IDs.rename(columns = {"Item Name" : "Purchase Count"})\nIDs_sorted = IDs.nlargest(10, [\'Purchase Count\'])\nIDs_sorted.sort_values(by = [\'Item ID\'], ascending = False)\npurchase_count = IDs_sorted[["Purchase Count"]]\n'

In [15]:
# Adding the Purchase Count and Total Purchase Value columns
purchase_data_narrowed['Purchase Count'] = purchase_data_narrowed.groupby('Item ID')['Item ID'].transform('count')
purchase_data_narrowed['Total Purchase Value'] = purchase_data_narrowed.groupby('Item ID')['Price'].transform('sum')


# Rearranging the dataframe columns and provide formatting
purchase_data_narrowed = purchase_data_narrowed[['Item ID', 'Item Name', 'Purchase Count', 'Price', 'Total Purchase Value']].reset_index()
purchase_data_narrowed["Price"] = purchase_data_narrowed["Price"].astype(float).map("${:,.2f}".format)
purchase_data_narrowed["Total Purchase Value"] = purchase_data_narrowed["Total Purchase Value"].astype(float).map("${:,.2f}".format)

purchase_data_narrowed = purchase_data_narrowed.drop(columns = "index")

purchase_data_narrowed.sort_values(by = ['Purchase Count'], ascending = False)

#  ***Unable to sort the Purchase Count column via either methods below:
#       Method (1): purch_count_sorted = purchase_data_narrowed.nlargest(10, ['Purchase Count'])

#       Method (2): 

#       Method (3): Merge two data frames
#                  purchase_summary = pd.merge(purchase_data_narrowed, purchase_count,
#                                              on = "Item ID", how = "right")


# Setting both of the Item ID and Item Names as indices
purchase_summary = purchase_data_narrowed.set_index(['Item ID', 'Item Name'])

purchase_summary.head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
143,Frenzied Scimitar,6,$1.56,$9.36
92,Final Critic,8,$4.88,$39.04
100,Blindscythe,5,$3.27,$16.35
131,Fury,5,$1.44,$7.20

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [17]:
purch_count_sorted = purchase_data_narrowed.nlargest(10, ['Total Purchase Value'])
purchase_data_narrowed

TypeError: Column 'Total Purchase Value' has dtype object, cannot use method 'nlargest' with this dtype